<a href="https://colab.research.google.com/github/henriquelouz/csrd-cavs-attack-classification-benchmarking/blob/master/CAV_attack_classification_benchmarking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Download files from google drive https://drive.google.com/file/d/1qubBmlXeMlZoXa9_uDJXV86zs51bbTSk/view

In [3]:
!gdown 1V8WwhdJihagakndkRja1xRE4pJaBClyU # DoS_dataset.csv
!gdown 1j-XrMOVOyIwgq4bMjWKjN8dSq93poqYP # Fuzzy_dataset.csv
!gdown 1mgAWe5-9UZuge8ZQtpHnz_3BY3LBh185 # gear_dataset.csv
!gdown 1-0uMzDfBZOtsYgUUIyx2nM2FB7LKvUav # normal_run_data.txt
!gdown 1qubBmlXeMlZoXa9_uDJXV86zs51bbTSk # RPM_dataset.csv

Downloading...
From: https://drive.google.com/uc?id=1V8WwhdJihagakndkRja1xRE4pJaBClyU
To: /content/DoS_dataset.csv
100% 190M/190M [00:01<00:00, 107MB/s]
Downloading...
From: https://drive.google.com/uc?id=1j-XrMOVOyIwgq4bMjWKjN8dSq93poqYP
To: /content/Fuzzy_dataset.csv
100% 199M/199M [00:01<00:00, 113MB/s]
Downloading...
From: https://drive.google.com/uc?id=1mgAWe5-9UZuge8ZQtpHnz_3BY3LBh185
To: /content/gear_dataset.csv
100% 230M/230M [00:04<00:00, 56.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-0uMzDfBZOtsYgUUIyx2nM2FB7LKvUav
To: /content/normal_run_data.txt
100% 87.4M/87.4M [00:00<00:00, 171MB/s]
Downloading...
From: https://drive.google.com/uc?id=1qubBmlXeMlZoXa9_uDJXV86zs51bbTSk
To: /content/RPM_dataset.csv
100% 240M/240M [00:06<00:00, 35.0MB/s]

### Explore Dataset

In [4]:
import pandas as pd

In [5]:
columnames = ["timestamp", "can_id", "dlc", "data_0", "data_1", "data_2", "data_3", "data_4", "data_5", "data_6", "data_7", "flag"]

In [6]:
dos_df = pd.read_csv("DoS_dataset.csv", names=columnames)
dos_df.head(5)

,timestamp,can_id,dlc,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,flag
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R

In [7]:
fuzzy_df = pd.read_csv("Fuzzy_dataset.csv", names=columnames)
fuzzy_df.head(5)

,timestamp,can_id,dlc,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,flag
0,1.478196e+09,0545,8,d8,00,00,8a,00,00,00,00,R
1,1.478196e+09,02b0,5,ff,7f,00,05,49,R,NaN,NaN,NaN
2,1.478196e+09,0002,8,00,00,00,00,00,01,07,15,R
3,1.478196e+09,0153,8,00,21,10,ff,00,ff,00,00,R
4,1.478196e+09,0130,8,19,80,00,ff,fe,7f,07,60,R

In [8]:
gear_df = pd.read_csv("gear_dataset.csv", names=columnames)
gear_df.head(5)

,timestamp,can_id,dlc,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,flag
0,1.478193e+09,0140,8,00,00,00,00,10,29,2a,24,R
1,1.478193e+09,02c0,8,15,00,00,00,00,00,00,00,R
2,1.478193e+09,0350,8,05,20,44,68,77,00,00,7e,R
3,1.478193e+09,0370,8,00,20,00,00,00,00,00,00,R
4,1.478193e+09,043f,8,10,40,60,ff,78,c4,08,00,R

In [9]:
rpm_df = pd.read_csv("RPM_dataset.csv", names=columnames)
rpm_df.head(5)

,timestamp,can_id,dlc,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,flag
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R

In [10]:
df = pd.concat([dos_df, fuzzy_df, gear_df, rpm_df])
df.shape

(16569475, 12)

In [11]:
df["flag"].unique()

array(['R', nan, 'T'], dtype=object)

In [12]:
df = df.dropna()
print(df["flag"].unique())
print(df.shape)

['R' 'T']
(16368810, 12)

In [ ]:
ids = rpm_df["0316"]
rpm_df[ids.isin(ids[ids.duplicated()])].sort_values("0316")

         1478191030.045114  0316  8  05  22  68  09 22.1  20  00  75  R
2529400       1.478192e+09  0002  8  00  00  00  00   00  08  0d  d1  R
2146182       1.478192e+09  0002  8  00  00  00  00   00  00  0e  ac  R
1805473       1.478192e+09  0002  8  00  00  00  00   00  06  01  a2  R
1374796       1.478192e+09  0002  8  00  00  00  00   00  04  0b  e8  R
3607057       1.478193e+09  0002  8  00  00  00  00   00  00  0a  d8  R
...                    ...   ... ..  ..  ..  ..  ..  ...  ..  ..  .. ..
4026877       1.478201e+09  0690  8  00  00  01  00   a0  22  00  00  R
2761149       1.478192e+09  0690  8  00  00  00  00   a0  02  00  00  R
1460492       1.478192e+09  0690  8  00  00  00  00   a0  02  00  00  R
508581        1.478191e+09  0690  8  00  00  01  00   a0  02  00  00  R
2741010       1.478192e+09  0690  8  00  00  00  00   a0  02  00  00  R

[4621701 rows x 12 columns]

In [25]:
df['can_id'] = df['can_id'].apply(lambda x: int(x, base=16))
df['data_0'] = df['data_0'].apply(lambda x: int(x, base=16))
df['data_1'] = df['data_1'].apply(lambda x: int(x, base=16))
df['data_2'] = df['data_2'].apply(lambda x: int(x, base=16))
df['data_3'] = df['data_3'].apply(lambda x: int(x, base=16))
df['data_4'] = df['data_4'].apply(lambda x: int(x, base=16))
df['data_5'] = df['data_5'].apply(lambda x: int(x, base=16))
df['data_6'] = df['data_6'].apply(lambda x: int(x, base=16))
df['data_7'] = df['data_7'].apply(lambda x: int(x, base=16))

In [26]:
df.head(5)

,timestamp,can_id,dlc,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,flag
0,1.478198e+09,790,8,5,33,104,9,33,33,0,111,R
1,1.478198e+09,399,8,254,91,0,0,0,60,0,0,R
2,1.478198e+09,608,8,25,33,34,48,8,142,109,58,R
3,1.478198e+09,672,8,100,0,154,29,151,2,189,0,R
4,1.478198e+09,809,8,64,187,127,20,17,32,0,20,R

In [27]:
df.dtypes

timestamp    float64
can_id         int64
dlc            int64
data_0         int64
data_1         int64
data_2         int64
data_3         int64
data_4         int64
data_5         int64
data_6         int64
data_7         int64
flag          object
dtype: object

## SVM

In [1]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(df[['data_0', 'data_1', 'data_2', 'data_3', 'data_4', 'data_5', 'data_6', 'data_7']], df['flag'], test_size=0.3, random_state=109) # 70% training and 30% test

In [ ]:
from sklearn import svm
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [ ]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))